@import "../openlayers/zoomtogeolocationcontrol.css";

.left-bar {
    left: 0.5em;
}

.zoom .ol-zoom-in {
  border-radius: 2px 2px 0 0;
}
.zoom .ol-zoom-out {
  border-radius: 0 0 2px 2px;
}

.fullextent button {
    background-image: url('img/fullextent.png');
    background-size: contain;
}

.full-screen button.full-screen-false {
    background-image: url('img/fullscreen.png');
    background-size: contain;
}
.full-screen button.full-screen-true {
    background-image: url('img/fullscreeen_exit.png');
    background-size: contain;
}