.ol-zoom-geolocation {
  top: 7.143em;
  left: .5em;
}
.ol-zoom-geolocation button {
  line-height: 1.4em;
  background-image: url('geolocate.png');
  background-size: contain;
}
/*.ol-touch .ol-zoom-geolocation {*/
  /*top: 8.1em;*/
/*}*/