.sidebar {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    overflow: hidden;
    z-index: 2000;
    background-color: rgba(255, 255, 255, 0.4);
    border-left: 3px solid transparent;
}
.sidebar.collapsed {
    width: 40px;
}

.sidebar-tabs {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 60, 136, 0.5);
    overflow: hidden;
}

.sidebar-tabs > li {
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 12pt;
    overflow: hidden;
    transition: all 80ms;
}
.sidebar-tabs > li:hover,
.sidebar-tabs > li.active {
    color: #fff;
    background-color: rgba(0,60,136,0.7)
}
.sidebar-tabs > li > a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.sidebar-content {
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 4px 0 0 4px;
    font-family: "Lucida Grande",Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    color: #4f4f4f;
}

.sidebar-pane {
    display: none;
    right: 40px;
    box-sizing: border-box;
    width: 260px;
    background-color: rgba(255, 255, 255, 0.90);
    height: 100%;
}
.sidebar-pane.active {
    display: block;
}

.sidebar .icon {
    padding: 5px 0;
}

.sidebar a.layericon:before { content: url(img/layers-30.png);}
.sidebar a.helpicon:before  { content: url(img/help-30.png);}
.sidebar a.zoneicon:before  { content: url(img/polygon-30.png);}
.sidebar a.zoomicon:before  { content: url(img/zoom-30.png);}

.sidebar-content h2{
	margin: 0;
	padding: 5px;
    font-family: "din-condensed-web", Arial, Georgia, serif;
	font-size: 1.2em;
	letter-spacing: 0.04em;
	text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #2893BA;
    background-color: rgba(0, 60, 136, 0.5);
    color: #ffffff;
}

.sidebar-content .pane-body {
    padding: 5px;
}

.sidebar-content .pane-description {
    font-size: smaller;
    padding-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.sidebar-content .pane-content > div {
    margin-top: 10px;
}

.sidebar-content .pane-content fieldset {
    margin: 10px 0;
}

.sidebar-content .pane-content select {
    width: 100%;
    margin: 5px 0 0 0;
    background-color: #fafafa;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
    background-position: 100% center;
    background-repeat: no-repeat;
    border: 1px solid #cccccc;
    font-size: 0.77778rem;
    -webkit-appearance: none !important;
}

.sidebar-content .pane-content select:hover {
    background-color: #f3f3f3;
    border-color: #999999;
}

.sidebar-content .button-bar {
    border-top: 2px solid #e5e5e5;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
}

.sidebar-content button.sidebar-button {
    border: 0 solid #007095;
    cursor: pointer;
    font-weight: normal;
    line-height: normal;
    position: relative;
    text-align: center;
    padding: 5px;
    font-size: smaller;
    background-color: rgba(0, 60, 136, 0.5);
    color: white;
    margin: 2px;
}

.sidebar-content button.sidebar-button:hover {
    background-color: rgba(0,60,136,0.7);
 }
