.ol-toolbar {
    /*border: 1px solid #5491b0;*/
}
.ol-toolbar button {
    display: inline-block;
}

.ol-toolbar .ol-has-tooltip:hover [role=tooltip] {
    top: 2em;
}
.ol-toolbar .ol-has-tooltip:focus [role=tooltip] {
    display: none;
}

.ol-toolbar button.ol-toolbar-draw:after {
    content: "✎";
}
.ol-toolbar button.ol-toolbar-modify:after {
    content: "✍";
}
.ol-toolbar button.ol-toolbar-cancel:after {
    content: "✋";
}
.ol-toolbar button.ol-toolbar-save:after {
    content: "✔";
}
