@import "buttons.css";
@import "../sidebar/sidebar.css";
@import "../layerswitcher/layerswitcher.css";

.map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #E8FFE8;
    position: relative;
}

.sidebar-map .ol-scale-line {
  background-color: rgba(39, 146, 195, 0.5);
}

.ol-attribution.ol-uncollapsible.sidebar-padding {
    right: 40px;
}