@import "buttons.css";
@import "../sidebar/sidebar.css";
@import "../layerswitcher/layerswitcher.css";

.map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #E8FFE8;
    position: relative;
}

/* Temp fix for attribution bug */
.ol-attribution ul {
   max-width: 100%;
}
.sidebar-padding {
    padding-right: 46px;
}

.sidebar-content .ol-toolbar {
    position: relative;
}