
.ol-popup {
  position: absolute;
  background-color: rgba(39, 146, 195, 0.6);
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  color: #ffffff;
  min-width: 200px;
}
.ol-popup:after, .map .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: rgba(39, 146, 195, 0.6);
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  /*border-top-color: rgba(39, 146, 195, 0.6);*/
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
  color: #ffffff;
}

.ol-popup-content ul {
  margin: 0;
  padding-left: 15px;
}

.ol-popup-content h4 {
  margin: 5px 0;
}